/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/*Proyecto 2*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
  background-image: url('../img/hero@2x.png');
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 1100px 700px ;
}
.page {
  max-width: 1600px;
  padding: 30px 120px;
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

header figure{
  margin: 0;
}

header nav ul{
  padding:0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  gap: 56px;
}

header nav li  {
  list-style: none;
  width: max-content;
}

header nav a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: #424241;
  font-size: 18px;
  font-weight: 400;
  display: block;
}

section.hero div.main h1 {
  font-family: "Bebas Neue", sans-serif;
  text-transform: uppercase;
  font-size: 70px;
  color: #424241;
  margin: 0;
  margin-bottom: 30px;

}

section.hero {
  width: 50%;
  margin-bottom: 30px;
}

section.hero div.main h1 span {
  color: #7EDAD2;
  
}

section.hero div.main p {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  color: #909090;
  width: 80%;
  margin: 0;
  margin-bottom: 40px;

}

section.hero div.main a {
  display: inline-block;
  background-color: #7EDAD2;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: #fafafa;
  padding: 10px 18px;
  margin-bottom: 30px;
}

section.hero div.numbers {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 65%;
}

section.hero div.numbers a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #909090;
  
}

span.big {
  font-family: "Bebas Neue", sans-serif;
  font-size: 36px;
  color: #424241;
  font-weight: bold;
}

section.categories {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

section.categories article{
  padding: 20px;
  background-color: white;
}

section.categories article h3 {
  font-family: "Poppins", sans-serif;
  color: #424241;
  font-size: 22px;
  font-weight: bold;
}

section.categories article p  {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: #909090;
  width: 70%;
}