//devices dimensions
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;
//fonts
$primary-font: "Plus Jakarta Sans", sans-serif;
//colors
$blue-grey: #666CA3;
$blue-purple: #13183F;
$grey: #83869A;
$pink: #F74780;
$soft-pink: #FFA7C3;
$white: #FFFFFF;
$gradient-orange-pink: linear-gradient(to top,#F02AA6,#FF6F48);
$gradient-blue-pink: linear-gradient(to top,#F02AA6,#4851FF);