 body {
    overflow-x: hidden;
} 

div.page {
    max-width: $max-width;
    margin-left: auto;
    margin-right: auto;
    color: $black;
}

ul {
    margin:0;
    padding:0;
    display: flex;
    align-content: center;
    list-style: none;
}
  
a {
    display: block;
    text-align: center;
    font-family: $font-text;
    text-decoration: none;
    color: $black;
    font-size: $font-size-small;
}

li {
    font-size: $font-size-small;
}
