//fonts
$font-text: "Poppins", system-ui;
$font-title: "Montserrat", sans-serif;
//font-sizes
$font-size-small: 16px;
$font-size-medium:20px;
$font-size-big:76px;
//colors
$orange: #F38160;
$grey: #909090;
$black: #403C39;
$white: #fafafa;
//max-width
$max-width: 1400px;