/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/*Proyecto 5*/

@import url('https://fonts.googleapis.com/css2?family=Belgrano&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


$color-white: #ffffff; 
$color-black: #2E2F38;
$color-red: #FA504D; 
$color-grey: #8E8E8E;
$font-text: "Poppins", system-ui;
$font-title: "Belgrano", serif;
$font-size-text-small: 16px;
$font-size-text-big: 20px;
$font-size-title-small: 28px;
$font-size-title-big: 66px;

@mixin buttons {
    display: block;
    padding: 8px 30px;
    color: $color-white;
    font-size: $font-size-text-small;
    background-color: $color-red;
    font-weight: 600;
}


*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body {
    background-image: url(../img/logo-background.svg),linear-gradient(to right,$color-white 55%,$color-black 55%);
    background-repeat: no-repeat;
    background-position:right bottom;
}


div.nft {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 10px;
    font-family: $font-text;
    font-size: $font-size-text-small;
    color: $color-black;
}

a {
    text-decoration: none;
    color: $color-black;
}

a.btn {
    @include buttons();
}

.nft__header {
    display: flex;
    align-items: center;
    padding-bottom: 50px;

    &__nav {
        margin-left: 100px;
        ul {
            display: flex;
            align-items: center;
            justify-content: space-between;
            list-style: none;
            gap: 70px;
        }

        a {
            text-decoration: none;
            color: $color-black;
            font-size: $font-size-text-small;
        }
    }

    &__login {
        margin-left: auto;
        ul{
            display: flex;
            align-items: center;
            justify-content: space-between;
            list-style: none;
            gap: 40px;
            margin-left: 30px;
        }
        a {
            text-decoration: none;
            color: $color-white;
            font-size: $font-size-text-small;
            
        }
    }
}

.nft__main {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 1fr 0.8fr;
    &__hero {
        grid-area: 1/1 /span 1/span 1;
    }

    &__features {
        grid-area: 2/1 /span 1/span 1;
    }

    &__artwork {
        grid-area: 1/2 /span 2/span 1;
    }
}

.nft__main__hero {
    padding-right: 40px;
    h1 {
        position: relative;
        font-size: $font-size-title-big;
        font-family: $font-title;
        font-weight: 500;
        padding-right: 20px;
        padding-bottom: 30px;
    }

    p {
        font-size: $font-size-text-big;
        color: $color-grey;
        padding-bottom:30px;
    }

    div {
        display: flex;
        align-items: center;
        gap: 40px;

        a.btn {
            padding: 15px 70px;
        }

        a:last-child{
            text-decoration: underline;
        }
    }
}

.nft__main__features {

    h2 {
        padding-top: 70px;
        padding-bottom: 20px ;
        font-size: $font-size-title-small;
        font-family: $font-title;
        font-weight: 500;
    }

    figure {
        display: flex;
        align-items: center;
        gap: 30px;
    }
    img{
        padding: 5px;
        border: 1px solid $color-grey;
    }
}


.nft__art1 {
    position: relative;
    img{
        position: absolute;
        right: 20px;
        top: 0;
        z-index: -1;
    }
}
div.nft__main__artwork__personal-data {
    margin-top: 430px;
    padding: 20px;
    background-color: white;

    header {
        display: flex;
        align-items: center;
        padding-bottom:10px ;
        border-bottom: 2px solid $color-black ;

        div{
            display: flex;
            flex-direction: column;
            gap: 7px;

            p:first-child{
                color: $color-grey;
            }

            p:last-child{
                font-size: $font-size-text-big;
                font-weight: 600;
            }
        }

        div.personal-info {
            margin-left: 20px;
        }

        div.current-bid {
            margin-left: auto;
        }
    }

    div.nft__main__artwork__personal-data__buttons {
        padding-top: 30px;
        display: flex;
        align-items: center;
        a {
            text-align: center;
            width: 50%;
        }
        a:last-child {
            background-color: $color-white;
            color: $color-red;
        }
    }

}

.nft__main__artwork__data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    padding-top: 40px;

    a {
        display: flex;
        align-items: center;
        color: $color-white;
        font-size: $font-size-text-small;
    }
    span {
        font-size: $font-size-title-small;
        font-weight: 600;
        color: $color-red;
        margin-right: 10px;
    }
}

h1.hero_title::before {
    content: url(../img/lapiz-redondeo.svg);
    position: absolute;
    top: -5px;
    left: 115px;
}

p.hero_subtitle::before {
    content: url(../img/line.svg);
    position: absolute;
    top: 430px;
    left: 220px;
}